# Local .terraform directoriess
.terraform/
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Terraform variable files that may contain secrets
*.tfvars
*.tfvars.json

# Sensitive config files
secrets.tf
*.pem
*.key
*.crt

# Crash logs
crash.log

# OS or IDE-specific files
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp

# VSCode settings
.vscode/

# Python virtual env (if scripting involved)
venv/
__pycache__/

# Backend override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/


.terraform/
*.tfstate
*.tfstate.*
*.terraform.lock.hcl